{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('board') }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('clientBoard') }}
{% endblock %}
{% block title %}Ma Gouvernance{% endblock %}

{% block main %}

    <section id="filterContainer" class="hidden">
    </section>

    <div id="displayCvAdvisor">
        {% include 'cvAdvisor.html.twig' %}
    </div>

    <section id="advisors" >
        <section id="allCardsContainer">
            {% for advisor in advisors %}
                <div class="cardAdvisors">
                    <img src="https://www.laravoire.immo/wp-content/uploads/2017/06/Business-Woman-papers.jpg" alt=""/>
                    <div class="cardTitle">{{ advisor.firstname }} {{ advisor.name }}</div>
                    <p>{{ advisor.place }}</p>
                    {% if advisor.status ==0 %}
                    <p>canditature en cours</p>
                {% elseif advisor.status ==1 %}
                    <p>canditature acceptée</p>
                {% elseif advisor.status ==2 %}
                    <p>canditature en suspens</p>
                    {% endif %}
                </div>
            {% endfor %}
        </section>

    <section id="filterContainer" class="hidden">
    </section>
    <section class="filterAdvisors">
        <div class="filterTitle">Filtres :</div>
        <input type="text" id="myInput" placeholder="Chercher un nom..">

        <div class="order">

            <a href="{{ path('advisors') }}">tous</a>
            <a href="./advisors/?filter=encours"> canditature en cours</a>
            <a href="./advisors/?filter=accepté">candidature acceptée</a>
            <a href="./advisors/?filter=ensuspens">candidature en suspens</a>
        </div>
    </section>


    </form>

    </section>
    {% block javascripts %}
        {{ encore_entry_script_tags('advisors') }}
    {% endblock %}
{% endblock %}

