{% extends 'base.html.twig' %}

{% block title %}Construire le board{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('board') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block main %}

    <div id="displayCvAdvisor">
        {% include 'cvAdvisor.html.twig' %}
    </div>

    <div id="commentAdvisor">
        <p>Justification de candidature</p>
        <label>
            <textarea placeholder="Entrez le résumé" rows="10" cols="35"></textarea>
        </label>
    </div>

    {% for advisor in advisors %}
        <div class="deleteAdvisor">
            <p>Retirer {{ advisor.firstname }} {{ advisor.name }} ?</p>
            <button class="definitiveDeleteAdvisor">Retirer du board</button>
        </div>
    {% endfor %}

    <div id="behind">
    </div>

    <p id="boardAndBoardAdvisors">
        <div id="board">
            <h1>Réaliser mon board</h1>
            <div id="boardEdit">
                <img id="boardEditImg" src="{{ asset('build/dragAndDrop.png') }}" alt=""/>
                <h2 id="boardEditH2">Ajoutez vos advisors</h2>
                {{ form_start(formBoard) }}
                {{ form_widget(formBoard) }}
            </div>
            <div id="submit">
                <button>{{ button_label|default('Valider') }}</button>
                {{ form_end(formBoard) }}
            </div>
        </div>


        <div id="boardAdvisors">
            <label id="research">
                <input placeholder="Rechercher">
            </label>
            {% for advisor in advisors %}
                <div class="cardAdvisorAndAdd">
                    <div id="cardAdvisor" class="cardAdvisorJS">
                        <img src="" alt="">
                        <div id="cardAdvisorInfos">
                            <p class="nameAdvisor">{{ advisor.firstname }} {{ advisor.name }}</p>
                            <p class="infosAdvisor">Autres infos utiles</p>
                            <p class="idAdvisor">{{ advisor.id }}</p>
                        </div>
                    </div>
                    <div class="addCardAdvisor">+</div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('client_board', {'uuid': board.uuid}) }}">Voir le board du client</a>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('board') }}
{% endblock %}
