{% extends 'base.html.twig' %}

{% block title %}Construire le board{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('board') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block main %}

    <div id="displayCvAdvisor">
        {% include 'cvAdvisor.html.twig' %}
    </div>


    {% for advisor in advisors %}
        <div class="commentAdvisor">
            <form class="resumeJustification" action="{{ path('formBoard', {'board': board.id, 'advisor': advisor.id}) }}" method="POST">
                <label for="story">
                    <textarea class="resumeJustification" name="resume" rows="10" cols="33" placeholder="Justificatif de candidature">{% for resume in resumes %}{% if resume.advisor == advisor %}{{ resume.content }}{% endif %}{% endfor %}</textarea>
                </label>
                <input type="submit" value="Valider">
            </form>
        </div>

        <div class="deleteAdvisor">
            <p>Retirer {{ advisor.firstname|title }} {{ advisor.name|upper }} ?</p>
            <div id="ddAdvisor">
                <a href="{{ path('deleteAdvisorFromBoard', {'board': board.id, 'advisor': advisor.id}) }}">
                    <button class="definitiveDeleteAdvisor">Retirer du board</button>
                </a>
            </div>
        </div>
    {% endfor %}

    <div id="behind">
    </div>
    <div id="behindAllAdvisors">
    </div>

    <div id="boardAndBoardAdvisors">
        <div id="board">
            <div id="popinLink">
                <p id="linkAdress">Lien copié !</p>
            </div>
            <h1>Réaliser mon board</h1>
            <div id="boardEdit">
                <div class="boardDisplayAdvisor">
                    {{ form_start(formBoard) }}
                    {{ form_widget(formBoard) }}
                    {{ form_end(formBoard) }}
                </div>
            </div>
            <div id="viewBoardAndIcon">
                <div id="viewBoard">
                    <button id="copy">Copier l'adresse</button>
                    <a href="{{ path('client_board', {'uuid': board.uuid}) }}" target="_blank">
                        <button>Voir</button>
                    </a>
                </div>
                <div id="iconAddAdvisor">
                    <img id="addAdvisors" src="{{ asset('build/add.png') }}" alt="">
                </div>
                <p id="clientLink" spellcheck="false">http://127.0.0.1:8001/suggestion/{{ board.uuid }}</p>
            </div>
        </div>

        <div id="boardAdvisors">
            {#<label id="research">
                <input placeholder="Rechercher">
            </label>
            #}
            <button id="takeAdvisors">Tous les advisors</button>

            <div id="viewAllAdvisors">
                {% for advisor in advisorsSorted %}
                    <div class="cardAdvisorJS">
                        {% if advisor.picture is null %}
                            <img class="pp" src="{{ asset('build/pp.png') }}" alt=""/>
                        {% else %}
                            <img class="pp" src="{{ advisor.picture }}" alt=""/>
                        {% endif %}
                        <div id="cardAdvisorInfos">
                            <p class="nameAdvisor">{{ advisor.firstname|title }} {{ advisor.name|upper }}</p>
                            <p class="placeAdvisor">{{ advisor.place }}</p>
                            <p class="idAdvisor">{{ advisor.id }}</p>
                        </div>
                        <div class="cardAdvisorIcons">
                            <img class="iconAdd" src="{{ asset('build/add.png') }}" alt="">
                            <img class="iconDelete" src="{{ asset('build/delete.png') }}" alt="">
                            <img class="iconCv" src="{{ asset('build/cv.png') }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="allAdvisorsBoard">
        <div class="deleteAdvisorButton">
            <label for="myInput"></label><input type="text" id="myInput" placeholder="Chercher un nom..">
            <img src="{{ asset('build/delete.png') }}" alt="" class="iconDeleteAllAdvisors">
        </div>
        <div id="cardsAllAdvisors">
            {% for advisor in advisorsRest %}
                <div class="cardAdvisorJS advisorRest">
                    {% if advisor.picture is null %}
                        <img class="pp" src="{{ asset('build/pp.png') }}" alt=""/>
                    {% else %}
                        <img class="pp" src="{{ advisor.picture }}" alt=""/>
                    {% endif %}
                    <div id="cardAdvisorInfos">
                        <p class="nameAdvisor">{{ advisor.firstname|title }} {{ advisor.name|upper }}</p>
                        <p class="placeAdvisor">{{ advisor.place }}</p>
                        <p class="idAdvisor">{{ advisor.id }}</p>
                    </div>
                    <div class="cardAdvisorIcons">
                        <img class="iconAdd" src="{{ asset('build/add.png') }}" alt="">
                        <img class="iconDelete" src="{{ asset('build/delete.png') }}" alt="">
                        <img class="iconCv" src="{{ asset('build/cv.png') }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('board') }}
{% endblock %}
