{% extends 'base.html.twig' %}

{% block title %}Construire le board{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('board') }}
{% endblock %}

{% block main %}

    <div id="behind">
    </div>

    <div id="boardAndBoardAdvisors">
        <div id="board">
            <div id="commentAdvisor">
                <p>Justification de candidature</p>
                <label>
                    <textarea placeholder="Entrez le résumé" rows="10" cols="35"></textarea>
                </label>
                <button id="buttonValidateSynopsis">Valider</button>
            </div>
            {% for j in 0..20 %}

                <div class="deleteAdvisor">
                    <p>Retirer John Doe {{ j }} ?</p>
                    <button class="definitiveDeleteAdvisor">Retirer du board</button>
                </div>

            {% endfor %}
            <h1>Réaliser mon board</h1>
            <div id="boardEdit">
                <img id="boardEditImg" src="{{ asset('build/dragAndDrop.png') }}" alt=""/>
                <h2 id="boardEditH2">Ajoutez vos advisors</h2>
            </div>
            <div id="submit">
                <button>Valider</button>
            </div>
        </div>


        <div id="boardAdvisors">
            <label id="research">
                <input placeholder="Rechercher">
            </label>
            {% for i in 0..20 %}
                <div class="cardAdvisorAndAdd">
                    <div id="cardAdvisor_{{ i }}" class="cardAdvisorJS">
                        <img src="" alt="">
                        <div id="cardAdvisorInfos">
                            <p class="nameAdvisor">John Doe {{ i }}</p>
                            <p class="infosAdvisor">Autres infos utiles</p>
                        </div>
                    </div>
                    <div class="addCardAdvisor">+</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('board') }}
{% endblock %}
