{% extends 'base.html.twig' %}


{% block title %}Ma Gouvernance{% endblock %}

{% block main %}

    <section id="filterContainer" class="hidden">
    </section>

    {% for demand in demands %}

        <section class="modalDescription hidden">
            <div class="modalDescriptionContainer">
                Demande n° {{ demand.id }} :
                <div class="modalParts">
                    <div class="modalTitles">Nom entreprise :</div>
                    <p>{{demand.client}}</p>
                </div>
                <div class="modalParts">
                    <div class="modalTitles">Besoins :</div>
                    <p>{{ demand.clientRequest }}</p>
                </div>
                <div class="modalParts">
                    <div class="modalTitles">Tags :</div>
                    <div class="tagsModalDescription">
                        {% for tags in demand.tags %}
                            <div class="tags">{{ tags.category }}</div>
                        {% endfor %}
                    </div>
                </div>
                <form method="POST" >
                <div class="statutsContainer">
                    <div class="modalTitles">Statut du board</div>
                    <div class="statuts">
                        <p class="proposé input-radio">
                            <input type="radio" name="radio" value="0-{{ demand.id }}"/>
                            <label class="radioProposé">Simulation proposé</label>
                        </p>
                        <p class="accepté input-radio">
                            <input type="radio" name="radio" value="1-{{ demand.id }}"/>
                            <label class="radioAccepté">Board accepté</label></p>
                        <p class="modifié input-radio">
                            <input type="radio" name="radio" value="2-{{ demand.id }}"/>
                            <label class="radioModifié">Board à modifier</label>
                        </p>
                    </div>
                </div>
                <div class="containerRedirectButton">
                    <input type="submit" class="redirectButton" name="statutSubmitted" value="Modifier le statut" />
                    <a href="" class="redirectButton">Modifier le board</a>
                </div>
                </form>
            </div>

        </section>
    {% endfor %}

    <section id="Boards">
        <div class="container">
            <div class="containerContent">

                {% for demand in demands %}

                    <div class="cardHorizontal">
                        <div class="statut" style="background-color: red;"></div>
                        <div class="cardBody">
                            <p class="cardTitle">Demande n° {{demand.id}} </p>
                            <p> Entreprise : {{ demand.client }}</p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="new-demande">
            <div id="button-newdemand" href="" >Nouvelle demande</div>
        </div>
        <section id="demandeFormulaire" class="hidden">
            <div id="demandeFormulaireContent">
                <div class="demandeFormulaireTitles">Créer une demande</div>
                {{ form_start(formDemand, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(formDemand) }}
                <button class="submitDemand">{{ button_label|default('Créer') }}</button>
                {{ form_end(formDemand) }}
            </div>
        </section>
    </section>


{% endblock %}

{% form_theme formDemand 'bootstrap_4_layout.html.twig' %}

