{% extends 'base.html.twig' %}

{% block title %}Ma Gouvernance{% endblock %}

{% block main %}


        <section id="filterContainer" class="hidden">
        </section>

        {% for i in 1..5 %}
        <section class="modalDescription hidden">
            Demande n° 1
            <div class="modalParts">
                <div class="modalTitles">Nom entreprise :</div>
                <p>Netflix{{ i }}</p>
            </div>
            <div class="modalParts">
                <div class="modalTitles">Besoins :</div>
                <p>Ce sont les besoins</p>
            </div>

            <div class="modalParts">
                <div class="modalTitles">Tags :</div>
                <div class="tagsModalDescription">
                {% for i in 1..6 %}
                    <div class="tags">Tag {{ i }}</div>
                {% endfor %}
                </div>
            </div>
            <div class="statutsContainer">
                <div class="modalTitles">Statut du board</div>
                <div class="statuts">
                    <p class="proposé">Simulation proposé</p>
                    <p class="accepté">Board accepté</p>
                    <p class="modifié">Board à modifier</p>
                </div>
            </div>
            <div class="containerRedirectButton">
                <a href="/board" class="redirectButton">Modifier le board</a>
            </div>
        </section>
        {% endfor %}


        <section class="choices">
            <div id="buttonBoards">Demandes</div>
            <div id="buttonAdvisors">Advisors</div>
        </section>
        <section id="Boards">
            <div class="container">

                {% for i in 1..5 %}

                    <div class="card-horizontal">
                        <div class="statut "></div>
                        <div class="card-body">
                            <p class="card-title">Demande n° {{ i }} </p>
                            <p> Entreprise : {{ i }}</p>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <div class="new-demande">
                <div id="button-newdemand" href="" >Nouvelle demande</div>
            </div>
            <section id="demandeFormulaire" class="hidden">
                <div id="demandeFormulaireContent">
                    <div class="demandeFormulaireTitles">Créer une demande</div>
                    <form>
                        <input type="text" placeholder="Nom entreprise" class="formDemande"/>
                        <br/>
                        <textarea placeholder="Besoins" class="formDemandeTextarea"></textarea>
                        <br/>
                        <div class="demandeFormulaireTitles2"> Selectionner les tags</div>
                        {% for i in 1..5 %}
                        <label class="categories"> Catégorie {{ i }}
                            <select name="select_1" class="selectFormulaireDemande">
                                    <option value="2">Option 1</option>
                                    <option value="3">Option 2</option>
                                    <option value="4">Option 3</option>
                                    <option value="5">Option 4</option>
                                    <option value="6">Option 5</option>
                                    <option value="7">Option 6</option>
                            </select>
                        </label>
                        {% endfor %}
                        <section id="tags">

                        </section>
                        <div class="buttonsFormulaireDemande">
                            <input type="submit" value="Créer !" class="submitDemande"/>
                        </div>
                    </form>
                </div>
            </section>
        </section>

        <section id="advisors" class="hidden">
            <section id="allCardsContainer">
            {% for i in 0..15 %}
                        <div class="cardAdvisors">
                            <img src="" alt=""/>
                            <h4>John Doe</h4>
                            <p>Autres infos utiles</p>
                        </div>
            {% endfor %}
            </section>
        </section>


{% endblock %}
