{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <section id="filterContainer" class="hidden">
    </section>
        <section class="modalDescription hidden">
        <h3>Demande n°</h3>
        <div class="modalParts">
            <h4>Nom entreprise :</h4>
            <p>Netflix</p>
        </div>
        <div class="modalParts">
        <h4>Besoins :</h4>
        <p>Ce sont les besoins</p>
        </div>

        <div class="modalParts">
            <h4>Tags : </h4>
            <div class="tagsModalDescription">
            {% for i in 1..6 %}
                <div class="tags">Tag {{ i }}</div>
            {% endfor %}
            </div>
        </div>
        <div class="statutsContainer">
            <h4>Statut du board</h4>
            <div class="statuts">
                <p class="proposé">Simulation proposé</p>
                <p class="accepté">Board accepté</p>
                <p class="modifié">Board à modifier</p>
            </div>
        </div>
        <div class="containerRedirectButton">
            <a href="/board" class="redirectButton">Modifier le board</a>
        </div>
    </section>
    <section class="modalDescription hidden">
<p>deuxième</p>
    </section>
    <section class="modalDescription hidden">
<p>troisième</p>
    </section>
    <section class="modalDescription hidden">
        <p>quatrième</p>

    </section>
    <section class="modalDescription hidden">
        <p>cinquième</p>
    </section>


    <section class="choices">
        <div id="buttonBoards">Demandes</div>
        <div id="buttonAdvisors">Advisors</div>
    </section>
    <section id="Boards">
        <div class="container">
            <div class="containerContent">

                {% for i in 1..5 %}

                    <div class="card-horizontal">
                        <div class="statut" style="background-color: red;"></div>
                        <div class="card-body">
                            <p class="card-title">Demande n° {{ i }} </p>
                            <p> Entreprise : {{ i }}</p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="new-demande">
            <div id="button-newdemand" href="" >Nouvelle demande</div>
        </div>
        <section id="demandeFormulaire" class="hidden">
            <div id="demandeFormulaireContent">
                <h3>Créer une demande</h3>
                <form>
                    <input type="text" placeholder="Nom entreprise" class="formDemande"/>
                    <br/>
                    <textarea placeholder="Besoins" class="formDemandeTextarea"></textarea>
                    <br/>
                    <h4> Selectionner les tags</h4>
                    <label class="categories">
                        <select class="selectpicker" multiple data-live-search="true">
                        {% for categories in tags %}
                                {% for tag in categories.name  %}
                                    <option>{{ tag }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </label>
                    <section id="tags">

                    </section>
                    <label>Date butoir
                        <br/>
                        <input type="date" name="dateMax">
                    </label>
                    <div class="buttonsFormulaireDemande">
                        <input type="submit" value="Créer !" class="submitDemande"/>
                    </div>
                </form>
            </div>
        </section>

    </section>






    <section id="advisors" class="hidden">
        <section id="allCardsContainer">
        {% for advisor in advisors %}
                    <div class="cardAdvisors">
                        <img src="" alt=""/>
                        <h4>{{ advisor.firstname }} {{ advisor.name }}</h4>
                        <p>Autres infos utiles</p>
                    </div>
        {% endfor %}
        </section>
    </section>

{% endblock %}
