{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('clientBoard') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    {% block header %}
<header id="headerClient">
    <nav>
        <a class="logoContainer" href=""><img src="http://magouvernance.fr/wp-content/uploads/2019/05/LOGO-TRANSPARENT.png"  alt="logo"/></a>
    </nav>
</header>
{% endblock %}
{% block main %}
    <div id="behind">
    </div>
    <div id="">
        {% include 'cvAdvisor.html.twig' %}
    </div>
    <h1 id="clientName">Proposition de board</h1>
    <h2 ></h2>

    <div id="boardContent">
            {% for advisor in board.advisors  %}
                 <div class="cardAdvisors">
                     <div class="iconLink">
                        <a href="{{ advisor.linkedin }}"><img  class="icon" src="https://welmo.fr/blog/wp-content/uploads/2019/01/linkedin-icon.png" alt=""/></a>
                        <img class="advisorPic" src="https://www.laravoire.immo/wp-content/uploads/2017/06/Business-Woman-papers.jpg" alt=""/>
                  <a href="" target="_blank"></a>
                     </div>
                     <div class="advisorInfo">
                         <p class="cardTitle">{{ advisor.firstname }} {{ advisor.name }}</p>
                        <p>{{ advisor.place }}</p>

                     </div>
                 </div>

    {% endfor %}
       </div>

{% endblock %}
 {% block footer %}
     <footer>

     </footer>
 {% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('clientBoard') }}
{% endblock %}
