{% block stylesheets %}
    {{ encore_entry_link_tags('cvAdvisor') }}
{% endblock %}

{% block main %}

    {% if clientBoard is defined %}
    {% for advisor in board.advisors %}
        <div class="cvAdvisor">
            <div id="pitch">
                <h1>Son pitch en quelques mots</h1>

                <img src="" alt="">
            </div>
            <div id="allInfosAdvisor">
                <div id="infosAdvisor">
                    <div class="blocInfo" id="civilStatus">
                        <h2>{{ advisor.firstname }} {{ advisor.name }}</h2>
                        <h3>{{ advisor.place }}</h3>
                        <h3>{{ advisor.email }}</h3>
                        <p>Mobilité France</p>
                        <p>Disponible 1 journée par mois</p>
                    </div>
                    <div class="blocInfo" id="competences">
                        <h2>Compétences clés</h2>
                        <p>Marketing / Communication & réseaux sociaux, Stratégie / Business Developpement / Vision stratégique</p>
                    </div>
                    <div class="blocInfo" id="expertises">
                        <h2>Expertises sectorielles</h2>
                        <div class="tags">
                            {% for i in 1..8 %}
                                <p>Tag {{ i }}</p>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="blocInfo" id="contexts">
                        <h2>Contextes expérimentés</h2>
                        <div class="tags">
                            {% for j in 1..11 %}
                                <p>Tag {{ j }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blocInfo" id="experiences">
                        <h2>Expérience de mandat</h2>
                        <p>Conseil d'administration de la Cave aux Poètes depuis 2019</p>
                    </div>
                </div>
                <div id="summaryAdvisor">

                </div>
            </div>
        </div>
    {% endfor %}    {% else %}

    {% for advisor in advisors %}
        <div class="cvAdvisor">
            <div id="pitch">
                <h1>Son pitch en quelques mots</h1>
                <p>{{ advisor.presentation }}</p>
                <img src="" alt="">
            </div>
            <div id="allInfosAdvisor">
                <div id="infosAdvisor">
                    <div class="blocInfo" id="civilStatus">
                        <h2>{{ advisor.firstname }} {{ advisor.name }}</h2>
                        <h3>{{ advisor.place }}</h3>
                        <h3>{{ advisor.email }}</h3>
                        <p>Mobilité France</p>
                        <p>Disponible 1 journée par mois</p>
                    </div>
                    <div class="blocInfo" id="competences">
                        <h2>Comptétences clés</h2>
                        <p>Marketing / Communication & réseaux sociaux, Stratégie / Business Developpement / Vision stratégique</p>
                    </div>
                    <div class="blocInfo" id="expertises">
                        <h2>Expertises sectorielles</h2>
                        <div class="tags">
                            {% for i in 1..8 %}
                                    <p>Tag {{ i }}</p>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="blocInfo" id="contexts">
                        <h2>Contextes expérimentés</h2>
                        <div class="tags">
                            {% for j in 1..11 %}
                                    <p>Tag {{ j }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blocInfo" id="experiences">
                        <h2>Expérience de mandat</h2>
                        <p>Conseil d'administration de la Cave aux Poètes depuis 2019</p>
                    </div>
                </div>
                <div id="summaryAdvisor">

                </div>
                {% if pageAdvisor is defined %}
                    <div id="advisorStatus">
                        <div class="modalTitles"> Statut:</div>
                        {% if advisor.status ==0 %}
                            <p>canditature en cours</p>
                        {% elseif advisor.status ==1 %}
                            <p>canditature acceptée</p>
                        {% elseif advisor.status ==2 %}
                            <p>canditature en suspens</p>
                        {% endif %}
                        <form method="POST" >
                            <div class="advisorStatus">
                                <div class="modalTitles">Modifier</div>
                                <div class="encours input-radio">
                                    <input type="radio" name="radio" value="0-{{ advisor.id }}" id="0-{{ advisor.id }}"/>
                                    <label for="0-{{ advisor.id }}" class="radioCours">canditature en cours</label>
                                </div>
                                <div class="acceptée input-radio">
                                    <input type="radio" name="radio" value="1-{{ advisor.id }}" id="1-{{ advisor.id }}"/>
                                    <label for="1-{{ advisor.id }}" class="radioAcceptée">canditature acceptée</label>
                                </div>
                                <div class="modifié input-radio">
                                    <input type="radio" name="radio" value="2-{{ advisor.id }}" id="2-{{ advisor.id }}"/>
                                    <label for="2-{{ advisor.id }}" class="radioSuspens">en suspens</label>
                                </div>
                                <input type="number" value="{{ advisor.id }}" name="advisorId" class="hidden" />

                                <input type="submit" class="redirectButton" name="statusChange" value="Valider" />

                            </div>
                        </form>
                    </div>
                    <div id="commentary">
                        <div class="commentaryTitle">Commentaire :</div>
                        <p class="commentaryP">{{ advisor.commentary }}</p>
                        <img class="edit" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Edit_Notepad_Icon.svg"/>
                        <form class="hidden formCommentary" method="POST">
                            <textarea name="commentaryAdvisor">{{ advisor.commentary }}</textarea>
                            <input type="number" value="{{ advisor.id }}" name="advisorId" class="hidden" />
                            <input name="commentChanged" type="submit" value="Valider !"/>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endfor %}
 {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cvAdvisor') }}
{% endblock %}
